{% extends "::layoutn.html.twig" %}

{% block title %}
 {{ parent() }}  
{% endblock %}
 
{% block stylesheets %}
{{ parent() }}
<style>
     
        
         .myhr {
            border: 1px solid #D4E0EE;
            background-color: #f1f1f1;
            width:auto;

        }
       
       
    </style> 
{% endblock %}
  
   {% block javascripts %}
{{ parent() }}
    <script>
$(function() {
$( "#datepicker" ).datepicker();
});
</script>
{% endblock %}
    
                       
{% block sidebar %}
    
<div style="font-size:80%">

 <div id="datepicker"></div>
 </div>
 <hr class="myhr">


Faire une donation
<form action="{{ path('application_paypal_express_checkout_prepare_simple_purchase_and_doctrine')}}" method="post" {{ form_enctype(form_paypal) }}>
   
    <form method="POST">
        {{ form_row(form_paypal.amount,{ 'attr': {'class': 'mytext'} }) }}
        {{ form_rest(form_paypal) }}

 <input type="image" src="{{ asset('images/x-click-but04.gif') }}" name="submit" alt="Effectuez vos paiements via PayPal : une solution rapide, gratuite et sécurisée"></input>
    </form>
   
       {{ parent() }}
    {#
 {{ knp_menu_render('ApplicationSonataNewsBundle:Builder:mainMenu') }}#}
{% endblock %}
    
    
{#% block body %}
  
   
{% endblock %#}
 
    