{% extends "ApplicationSonataNewsBundle::layout.html.twig" %}



{% block stylesheets %}
{{ parent() }}
<style>
   
        .mytext {
           
            background-color: #f1f1f1;
            width:100px;

        }
        .currentpage {
        background-color: #fe8a05;
        
    
        }
div.mypost
{
border:1px solid;
border-radius:20px;
-moz-border-radius:20px; /* Old Firefox */
padding-bottom:10px;
padding-left:10px;
margin-bottom:20px;
box-shadow: 7px 7px 5px #888888;
background-color:  #e3e3e3;
} 

div.lescategories {
border:1px solid;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
padding-bottom:10px;
padding-left:5px;
margin-bottom:10px;
box-shadow: 3px 3px 2px #888888;
background-color:  #e3e3e3;
}


.sidebar .section { margin-bottom: 20px; }
.sidebar h3 { line-height: 1.2em; font-size: 20px; margin-bottom: 10px; font-weight: normal; background: #eee; padding: 5px;  }
.sidebar p { line-height: 1.5em; margin-bottom: 20px; }
.sidebar ul { list-style: none }
.sidebar ul li { line-height: 1.5em }
.sidebar .small { font-size: 12px; }
.sidebar .comment p { margin-bottom: 5px; }
.sidebar .comment { margin-bottom: 10px; padding-bottom: 10px; }
.sidebar .tags { font-weight: bold; }
.sidebar .tags span { color: #000; font-size: 12px; }
.weight-1 { font-size: 10px; }
.weight-2 { font-size: 12px; }
.weight-3 { font-size: 16px; }
.weight-4 { font-size: 21px; }
.weight-5 { font-size: 26px; }
</style> 
  {% endblock %}



{% block javascripts %}
      {{ parent() }}
 <script>
$(function() {
$( "#accordion-archives" ).accordion({
collapsible: true
});
});
</script>

     {#{ tinymce_init() }#}
  {% endblock %}


{% block content_header '' %}
{% block title %}
 MON BLOG DE TESTS
{% endblock %}
     {#% block NAVIGATION_BAR %}jkljklT{% endblock %#}
 
{% block content %}
<br>
{#


#}
{#
<h1>{{ 'title_archive'|trans({}, 'SonataNewsBundle') }}</h1>#}
{#{ test }#}

      
<!--<div class="sonata-blog-post-list">-->


 <!--   <li class="active"><a href="#11">d</a></li></ul>
     </td></tr>               
                                        </table> -->
 {# avec renderXX action

    {% for post in pager %}                               
#}
    {% for post in pager.getResults() %}
         <div class="mypost">
            <div class="sonata-blog-post-date-container">
                {{ post.publicationDateStart | format_date }}
                 - ({{ post.publicationDateStart | created_ago  }})
              
            </div>
             <!--   <h2 class="entry-title">-->
            <h2 class="sonata-blog-post-title">
              {% thumbnail post.image, 'big' %}

                <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span>
            </h2>
            <div class="sonata-blog-post-information">

                <div class="sonata-blog-post-tag-container">
                    <div class="sonata-blog-post-tag-title">
                           {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}

              
                    </div>
                    <div class="sonata-blog-post-tag-list">
                        {% for tag in post.tags%}
                             <span class="label label-inverse">
                            <a href="{{ url('sonata_news_tag', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                            {% if not loop.last%}, {%endif%}
                             </span>
                        {% endfor %}
                    </div>
                </div>
            </div>

                       
                        <div class="sonata-blog-post-tag-list">
                            {% if  post.category is defined and  post.category is not empty%}
                       
                         <span class="label">
                             <!--Catégorie: -->
                        <a href="{{ url('sonata_news_category', {'category': post.category.slug} ) }}">{{ post.category }}</a>
                        </span>
                        {% else %}
                        Pas de Catégorie
                        {% endif %}
                       
                    </div>
           {% if post.commentsCloseAt  is not null %}
                 <span class="label label-important">Fermeture des commentaires: {{ post.commentsCloseAt | format_date }}</span>
                    {% endif %}
                 
           
            <div class="sonata-blog-post-abtract">
              Extrait:  {{ post.abstract }}
            </div>
                    
            <span class="badge badge-warning">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</span>
       <!-- </div>-->
       </div>
    {% else %}
        {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
<!--</div>-->
    {% endfor %}
 {#
{{ knp_pagination_render(pager) }}
#}
{% include 'ApplicationSonataNewsBundle:pagination:pager.html.twig' with {'mything': 'ARTICLES', 'myurl': 'sonata_news_archive'} %}
{% endblock %}


 
{% block categories %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:sidebar:sidebarcategories.html.twig' %}
{% endblock %}

    
    
{% block tags %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:sidebar:sidebartags.html.twig' %}
{% endblock %}

   
{% block comments %}
{#
{{ parent() }}#}
{% include 'ApplicationSonataNewsBundle:sidebar:lastcomments.html.twig' %}
{% endblock %}
     