<div class="sonata-blog-comment-container">
    <h3>{{ 'title_comments'|trans({}, 'SonataNewsBundle') }}</h3>

    
    <div class="sonata-blog-comment-list">
       <div id="accordion">   
        {% for comment in pager.results %}
         <h3><a href="{{ comment.url }}" target="new" rel="nofollow">{{ comment.name }}</a> 
          {{ comment.createdAt | format_date }}
         </h3>
          <div><p>{{ comment.message }}</p></div>
       
        {% else %}
            {{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}
        {% endfor %}
              </div>
    </div>
</div>
