{% extends "ApplicationSonataNewsBundle::layout.html.twig" %}



{% block stylesheets %}
{{ parent() }}
<style>
   
        .mytext {
           
            background-color: #f1f1f1;
            width:100px;

        }
        
div.mypost
{
border:1px solid;
border-radius:20px;
-moz-border-radius:20px; /* Old Firefox */
padding-bottom:10px;
padding-left:10px;
margin-bottom:20px;
box-shadow: 7px 7px 5px #888888;
background-color:  #e3e3e3;
} 

div.lescategories {
border:1px solid;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
padding-bottom:10px;
padding-left:5px;
margin-bottom:10px;
box-shadow: 3px 3px 2px #888888;
background-color:  #e3e3e3;
}
.mywarn{ background-color: #fe8a05;}
  .page,.current,.next,.last{
    display: inline-block;
    border: 1px solid blue;
    color: blue;
    margin-right: 0.2em;
    padding: 0.25em 0.35em;
   }
    .current {
    
      background-color: #d3d3d3;
   /* color: red;*/
  
}
tr.title {
    background-color: #e4e4e4;
}
a.example {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px; 
    color: rgb(51, 51, 51);
}


.sidebar .section { margin-bottom: 20px; }
.sidebar h3 { line-height: 1.2em; font-size: 20px; margin-bottom: 10px; font-weight: normal; background: #eee; padding: 5px;  }
.sidebar p { line-height: 1.5em; margin-bottom: 20px; }
.sidebar ul { list-style: none }
.sidebar ul li { line-height: 1.5em }
.sidebar .small { font-size: 12px; }
.sidebar .comment p { margin-bottom: 5px; }
.sidebar .comment { margin-bottom: 10px; padding-bottom: 10px; }
.sidebar .tags { font-weight: bold; }
.sidebar .tags span { color: #000; font-size: 12px; }
.weight-1 { font-size: 10px; }
.weight-2 { font-size: 12px; }
.weight-3 { font-size: 16px; }
.weight-4 { font-size: 21px; }
.weight-5 { font-size: 26px; }
</style> 
  {% endblock %}



{% block javascripts %}
      {{ parent() }}
 <script>
$(function() {
$( "#accordion-archives" ).accordion({
collapsible: true
});
 $(".example").popover({trigger: 'hover',placement:'top'});  

});
          
</script>
  <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap-tooltip.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap-popover.js') }}"></script>
     {#{ tinymce_init() }#}
  {% endblock %}




{% block content_header '' %}
{% block title %}
 MES NEWS
{% endblock %}
   
 
{% block content %}
<br>


           
 <table class="table small table-striped table-condensed table-bordered table-hover">
     <thead>
                      
             <tr class="title">
                <th>{{ knp_pagination_sortable(pagination, 'title', 'p.title') }} 
                    <i class="icon-book"></i></th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Résumé', 'p.abstract') }}</th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Comments', 'p.commentsCount') }}
                 <i class="icon-comment"></i></th>
                 
                <th>{{ knp_pagination_sortable(pagination, 'User', 'e.author.username') }}
                 <i class="icon-user"></i></th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Publication', 'p.publicationDateStart') }}
                 <i class="icon-time"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'Catégorie', 'd.category.name') }}
                  <i class="icon-folder-open"></i></th>      
                <th>Tags  <i class="icon-tags"></i></th>
               <th><center><i class="icon-eye-open"></i></center></th>    
 
            </tr>  
        </thead>
         <tbody>
              {% for post in pagination %}
            <tr>
            
                 <td><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>    </td>
                  <td>
   <a href="#" class="example"  
      data-toggle="tooltip" rel="popover" data-content="{{ post.abstract }}">{{  post.abstract|length > 30 ? post.abstract|slice(0, 30) ~ ' ...' : post.abstract  }}
  </a>  

                    </td>
                   
                   <td>{{ post.commentsCount  }}</td>
                   <td>{{ post.author  }}</td>
                   <td>{{ post.publicationDateStart | created_ago  }} </td>
                   <td>
                    {% if  post.category is defined and  post.category is not empty%}
                            <a href="{{ url('sonata_news_category', {'category': post.category.slug} ) }}">{{ post.category }}</a>
                  
                        {% else %}
                       --
                        {% endif %}
                   </td>
                 <td>{{ post.tags|join(', ') }}   </td>
               {#  <td>
             {      <img width="40px" src="{{  post.image }}" alt="fds" /></td>#}
               <td>
<img src="{% path post.image, 'small' %}" width="50"> 
{#
 {% thumbnail post.image, 'smallest'  %}
{% thumbnail post.image, 'big'  %}
                  
                        {% media post.image, 'medium'  %} #}
                   </td>
            </tr>
                  {% endfor %}
                  </tbody>
 </table>

  {{ knp_pagination_render(pagination) }}


{% endblock %}

{% block archives %}
    {{ parent() }}
 {% endblock %}
 
 
{% block categories %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:Post:sidebarcategories.html.twig' %}
{% endblock %}

    
    
{% block tags %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:Post:sidebartags.html.twig' %}
{% endblock %}

   
{% block comments %}
{#
{{ parent() }}#}
{% include 'ApplicationSonataNewsBundle:Post:lastcomments.html.twig' %}
{% endblock %}
     