{% extends "ApplicationSonataNewsBundle::layout.html.twig" %}



{% block stylesheets %}
{{ parent() }}
<style>
   
        .mytext {
           
            background-color: #f1f1f1;
            width:100px;

        }
        
div.mypost
{
border:1px solid;
border-radius:20px;
-moz-border-radius:20px; /* Old Firefox */
padding-bottom:10px;
padding-left:10px;
margin-bottom:20px;
box-shadow: 7px 7px 5px #888888;
background-color:  #e3e3e3;
} 

div.lescategories {
border:1px solid;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
padding-bottom:10px;
padding-left:5px;
margin-bottom:10px;
box-shadow: 3px 3px 2px #888888;
background-color:  #e3e3e3;
}


</style> 
  {% endblock %}



{% block javascripts %}
      {{ parent() }}
 <script>
$(function() {
$( "#accordion-archives" ).accordion({
collapsible: true
});
});
</script>

     {#{ tinymce_init() }#}
  {% endblock %}




{% block content_header '' %}
{% block title %}
 MES NEWS
{% endblock %}
   
 
{% block content %}
{#
<table border="1">   {% for post in pager.getResults() %}
 {% if pager.haveToPaginate() %}
                        <tr>
                            <td colspan="{{ pager|length }}">
                                <div class="pagination pagination-centered">
                                    <ul>
                                        {% if pager.page != 1  %}
                                            <li><a href="#">First</a></li>
                                     
                                        {% endif %}

                                        {% if pager.page != pager.previouspage %}
         <li><a href="#">First</a></li>
   {% endif %}

                                        {# Set the number of pages to display in the pager #}
                                        {#% for page in pager.getLinks() %}
                                            {% if page == pager.page %}
                                              {% else %}
                                             {% endif %}
                                        {% endfor %}

                                        {% if pager.page != pager.nextpage %}kml
                                         {% endif %}

                                        {% if pager.page != pager.lastpage  %}jlk  {% endif %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
          {% endfor %}   
            </table>
            #}
<br>

 <table class="table small table-striped table-condensed table-bordered table-hover">
     
     <thead>
                       
                         
                        
            <tr class="title">
                <th>{{ knp_pagination_sortable(pagination, 'title', 'p.title') }} 
                    <i class="icon-book"></i></th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Résumé', 'p.abstract') }}</th>
                
                <th>{{ knp_pagination_sortable(pagination, 'NCommentaires', 'p.commentsCount') }}
                 <i class="icon-comment"></i></th>
                 
                <th>{{ knp_pagination_sortable(pagination, 'User', 'e.author.username') }}
                 <i class="icon-user"></i></th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Publication', 'p.publicationDateStart') }}
                 <i class="icon-time"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'Catégorie', 'd.category.name') }}
                  <i class="icon-folder-open"></i></th>      
                <th>Tags  <i class="icon-tags"></i></th>
            </tr>  
        </thead>
         <tbody>
              {% for post in pagination %}
            <tr>
            
                         <td>
           
          <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
           
                   </td>
                  <td>
               {{  post.abstract|length > 30 ? post.abstract|slice(0, 30) ~ ' ...' : post.abstract  }}
                 {#{ post.abstract|truncate(20)  }#}
             
                   </td>
                   
                   <td>
                 {{ post.commentsCount  }}
                   </td>
                   
                      <td>
                 {{ post.author  }}
                   </td>
                   
                              <td>
                 {{ post.publicationDateStart | created_ago  }}
                   </td>
                   
                  <td>
                    {% if  post.category is defined and  post.category is not empty%}
                            <a href="{{ url('sonata_news_category', {'category': post.category.slug} ) }}">{{ post.category }}</a>
                  
                        {% else %}
                       --
                        {% endif %}
                   </td>
                   
                     <td>{{ post.tags|join(', ') }}   </td>
            </tr>
                  {% endfor %}
                  </tbody>
 </table>

  {{ knp_pagination_render(pagination) }}


{% endblock %}


{% block archives %}
    {{ parent() }}
 {% endblock %}
 
 
   {% block categories %}
   {{ parent() }}
        {% for category in allcategories %}
       <span class="label">
                             <!--Catégorie: -->
                        <a href="{{ url('sonata_news_category', {'category': category.slug} ) }}">{{ category.name }}</a>
                        </span>
    
    
                 {% endfor %}
   {% endblock %}

    
    
      {% block tags %}
    {{ parent() }}
<div><p>
        {% for tag in alltags %}
       <span class="badge badge-warning">
                             <!--Catégorie: -->
                        <a href="{{ url('sonata_news_tag', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                        </span>
    
    
                 {% endfor %}
                </p></div>
   {% endblock %}

