{% extends "ApplicationSonataNewsBundle::layout.html.twig" %}



{% block stylesheets %}
{{ parent() }}
{% stylesheets '@ApplicationSonataNewsBundle/Resources/public/css/*' filter='yui_css' %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}



{% block javascripts %}
      {{ parent() }}
 <script>
$(function() {
$( "#accordion-archives" ).accordion({
collapsible: true
});
 $(".example").popover({trigger: 'hover',placement:'top'});  

});
          
</script>
  <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap-tooltip.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap-popover.js') }}"></script>
  
   <script type="text/javascript">
    
$(document).ready(function() {
//$(function() {
  $( "#post_filter_publicationDateStart_left_date" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
$( "#post_filter_publicationDateStart_right_date" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
});

</script>
     {#{ tinymce_init() }#}
  {% endblock %}




{% block content_header '' %}
{% block title %}
 MES NEWS
{% endblock %}
   
 
{% block content %}
<br>

<div class="connection">
<form class="form-horizontal" action="{{ url('list_mesnews') }}" method="GET" >
 
    {{ form_rest(form) }}
    <input type="submit" name="submit-filter" class="btn btn-medium btn-primary" value="filter" />
</form>
</div>           
 <table class="table small table-striped table-condensed table-bordered table-hover">
     <thead>
                      
             <tr class="title">
                <th>{{ knp_pagination_sortable(pagination, 'title', 'p.title') }} 
                    <i class="icon-book"></i></th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Résumé', 'p.abstract') }}</th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Comments', 'p.commentsCount') }}
                 <i class="icon-comment"></i></th>
                 
                <th>{{ knp_pagination_sortable(pagination, 'User', 'e.author.username') }}
                 <i class="icon-user"></i></th>
                
                <th>{{ knp_pagination_sortable(pagination, 'Publication', 'p.publicationDateStart') }}
                 <i class="icon-time"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'Catégorie', 'd.category.name') }}
                  <i class="icon-folder-open"></i></th>      
                <th>Tags  <i class="icon-tags"></i></th>
               <th><center><i class="icon-eye-open"></i></center></th>    
 
            </tr>  
        </thead>
         <tbody>
              {% for post in pagination %}
            <tr>
            
                 <td><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>    </td>
                  <td>
   <a href="#" class="example"  
      data-toggle="tooltip" rel="popover" data-content="{{ post.abstract }}">{{  post.abstract|length > 30 ? post.abstract|slice(0, 30) ~ ' ...' : post.abstract  }}
  </a>  

                    </td>
                   
                   <td>{{ post.commentsCount  }}</td>
                   <td>{{ post.author  }}</td>
                   <td>{{ post.publicationDateStart | created_ago  }} </td>
                   <td>
                    {% if  post.category is defined and  post.category is not empty%}
                            <a href="{{ url('sonata_news_category', {'category': post.category.slug} ) }}">{{ post.category }}</a>
                  
                        {% else %}
                       --
                        {% endif %}
                   </td>
                 <td>{{ post.tags|join(', ') }}   </td>
               {#  <td>
             {      <img width="40px" src="{{  post.image }}" alt="fds" /></td>#}
               <td>
<img src="{% path post.image, 'small' %}" width="50" /> 
{#
 {% thumbnail post.image, 'smallest'  %}
{% thumbnail post.image, 'big'  %}
                  
                        {% media post.image, 'medium'  %} #}
                   </td>
            </tr>
                  {% endfor %}
                  </tbody>
 </table>

  {{ knp_pagination_render(pagination) }}
{% endblock %}

 
{% block categories %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:sidebar:sidebarcategories.html.twig' %}
{% endblock %}

    
    
{% block tags %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:sidebar:sidebartags.html.twig' %}
{% endblock %}

   
{% block comments %}
{#
{{ parent() }}#}
{% include 'ApplicationSonataNewsBundle:sidebar:lastcomments.html.twig' %}
{% endblock %}



{% block archives %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:sidebar:sidebaryears.html.twig' %}
{% endblock %}

     