{% block archives %}
    {{ parent() }}
 {% endblock %}
 
 
   {% block categories %}
   {{ parent() }}
        {% for category in allcategories %}
       <span class="label">
                             <!--Catégorie: -->
                        <a href="{{ url('sonata_news_category', {'category': category.slug} ) }}">{{ category.name }}</a>
                        </span>
    
    
                 {% endfor %}
   {% endblock %}

    
    
      {% block tags %}
    {{ parent() }}
<div><p>
        {% for tag in alltags %}
       <span class="badge badge-warning">
                             <!--Catégorie: -->
                        <a href="{{ url('sonata_news_tag', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                        </span>
    
    
                 {% endfor %}
                </p></div>
   {% endblock %}

