{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
 {% endblock %}

{% block content_header '' %}

{% block title %}
    BUNDLE DE TESTS
{% endblock %}
    
    
{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}
<div class="container">
<form action="{{ path('paiement' , {'id': id } ) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" />
    </form>

  

{% endblock %}

