<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
         
 {{ form_row(form.new) }}
        {#{ form_row(form.new_second) }#}
        {{ form_rest(form) }}
    {#{ form_widget(form) }#}
               
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
